.bg-sucursales {
    background-image: url("../Img/Icon\ Sucursales.png");
    background-position: center top;
    background-size: cover;
}

.bg-pedidos {
    background-image: url("../Img/Icon\ Pedidos.png");
    background-position: center top;
    background-size: cover;
}

.bg-medicamentos {
    background-image: url("../Img/Icon\ Medicamentos.png");
    background-position: center top;
    background-size: cover;
}

.bg-empleados {
    background-image: url("../Img/Icon\ Empleados.png");
    background-position: center top;
    background-size: cover;
}

#card-medicamentos {
    cursor: pointer;
}

.card-container {
    height: 200px;
    position: relative;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#check_empleados:checked + .more_information {
    transform: translateY(-200px);
}

#check_empleados {
    position: absolute;
    visibility: hidden;
}

.more_information {
    width: 100%;
    height: 400px;
    transition: transform 1s ease-out, background-color 0.2s ease-in-out;
}

.more_information:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.r-3 {
    border-radius: 1.5rem;
}

.b-shadow-light {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: black;
}

.option:hover {
    background-color: white;
    color: #5CCFC5;
    background-color: inherit;
}

.bg-enfasis {
    background-color: #EEFAF9;
}

.text-justify {
    text-align: justify;
}