.bg-sucursales {
    background-image: url("../Img/Icon\ Sucursales.png");
    background-position: center top;
    background-size: cover;
}

.bg-pedidos {
    background-image: url("../Img/Icon\ Pedidos.png");
    background-position: center top;
    background-size: cover;
}

.bg-medicamentos {
    background-image: url("../Img/Icon\ Medicamentos.png");
    background-position: center top;
    background-size: cover;
}

.bg-empleados {
    background-image: url("../Img/Icon\ Empleados.png");
    background-position: center top;
    background-size: cover;
}

#card-medicamentos {
    cursor: pointer;
}

.card-container {
    height: 200px;
    position: relative;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#check_empleados:checked + .more_information {
    transform: translateY(-200px);
}

#check_empleados {
    position: absolute;
    visibility: hidden;
}

.more_information {
    width: 100%;
    height: 400px;
    transition: transform 1s ease-out, background-color 0.2s ease-in-out;
}

.more_information:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.r-3 {
    border-radius: 1.5rem;
}

.b-shadow-light {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: black;
}

.option:hover {
    background-color: white;
    color: #5CCFC5;
    background-color: inherit;
}

.bg-enfasis {
    background-color: #EEFAF9;
}

.text-justify {
    text-align: justify;
}

.nav-item {
    color: #000000D9;
}

.text-cian {
    color: #5CCFC5;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #5CCFC5;
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.text-bg-cian {
    background-color: #5CCFC5;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    isolation: isolate;
    color: #5CCFC5;
    border-color: var(--bs-nav-tabs-link-hover-border-color);
    border-bottom: 1px solid white;
}

.r-100 {
    border-radius: 100%;
}

.hover-logo {
    transition: 0.2s;
}

.hover-logo {
    background-color: #5CCFC5;
}

.button-editar {
    padding: 5px 20px;
    color: #709fba;
    border-radius: 1rem;
    border: 1px solid #709fba;
    background-color: inherit;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.button-editar:hover {
    background-color: #709fba;
    color: #000000D9;
}

.button-add,
.button-update,
.button-delete {
    display: inline-flex;
    height: 50px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button-add {
    background-color: #009578;
}

.button-update {
    background-color: #357edd;
}

.button-delete {
    background-color: #c0392b;
}

.button-add:hover {
    background: #008168;
}

.button-add:active {
    background: #006e58;
}

.button-text,
.button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}

.button-icon {
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.08);
    border-left: 1px solid white;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: visible !important;
}

.menu-bar {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-menu {
    width: auto;
}

.container-option {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.option i {
    width: 50px;
    color: white;
    transition: 0.2s;
}

.option i::before {
    padding: 10px 10px;
    border-radius: 100%;
    transition: 0.2s;
}

.option:hover i::before {
    background-color: rgba(93, 208, 198, 1);
    color: black;
}

.option.active i::before {
    background-color: rgba(110, 158, 185, 0.5);
    color: white;
}

.icon-title {
    width: 0px;
    color: white;
    transition: width 0.5s ease-in-out;
    text-align: left;
}

.h-10 {
    height: 10%;
}

.h-30 {
    height: 30%;
}