.bg-dashboard {
    background-color: #f6f6f6;
}

.bg-sucursales {
    background-image: url("../Img/Icon\ Sucursales.png");
    background-position: center top;
    background-size: cover;
}

.bg-pedidos {
    background-image: url("../Img/Icon\ Pedidos.png");
    background-position: center top;
    background-size: cover;
}

.bg-medicamentos {
    background-image: url("../Img/Icon\ Medicamentos.png");
    background-position: center top;
    background-size: cover;
}

.bg-empleados {
    background-image: url("../Img/Icon\ Empleados.png");
    background-position: center top;
    background-size: cover;
}

.r-3 {
    border-radius: 1.5rem;
}

.b-shadow-light {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container-sidenav {
    overflow: hidden;
    top: 0;
    position: sticky;
}

.option {
    background-color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.option:hover{
    background-color: white;
    color: #5CCFC5;
    background-color: inherit;
}

.bg-enfasis {
    background-color: #EEFAF9;
}

.text-justify {
    text-align: justify;
}